<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.dncrm.entity.system.User" alias="User"/>
        <typeAlias type="com.dncrm.entity.system.Role" alias="Role"/>
        <typeAlias type="com.dncrm.entity.system.Menu" alias="Menu"/>
        <typeAlias type="com.dncrm.util.PageData" alias="pd"/>
        <!-- 分页 -->
        <typeAlias type="com.dncrm.entity.Page" alias="Page"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.dncrm.plugin.PagePlugin">
            <property name="dialect" value="mysql"/>
            <property name="pageSqlId" value=".*listPage.*"/>
        </plugin>
    </plugins>

</configuration>