<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ElevatorMapper">

	<select id="findAllElevator" resultType="pd">
		select * from tb_elevator
		where elevator_id !=4
	</select>
    
</mapper>