<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HousesTypeMapper">
 <!-- 根据建筑结构类型信息 -->
    <select id="housestypelistPage" parameterType="page" resultType="pd">
        select 
        * 
        from 
        tb_houses_type
        where 1=1
        <if test="pd.type_name != null and pd.type_name != ''">
			and type_name LIKE CONCAT(CONCAT('%', #{pd.type_name}),'%')
		</if>
		<if test="pd.roleType!='4'">
			<if test="pd.userList!=null and pd.userList.size()>0">
				and input_user in
				<foreach collection="pd.userList"  item="user_id" index="index" open="(" close=")" separator=",">
		            ${user_id}
		        </foreach>
		    </if>
		</if>
    </select>
    <!-- 根据楼盘类型编号查询信息 -->
	<select id="findHousesTypeById" parameterType="page" resultType="pd">
		select * from tb_houses_type where id=#{id}
	</select>
	<!-- 根据楼盘类型名称查询信息 -->
	<select id="findHousesTypeByName" parameterType="page" resultType="pd">
		select 
		type_name 
		from 
		tb_houses_type 
		where 
		type_name=#{type_name}
	</select>
	
	<!-- 根据楼盘类型编号删除信息 -->
	<delete id="deleteHousesType" parameterType="pd">
		DELETE from tb_houses_type where id=#{id}
	</delete>
    <!-- 新增楼盘 类型信息 -->
	<insert id="saveS" parameterType="pd">
	    insert into tb_houses_type(
		id,
		type_name,
		type_describe
		)
		values
		(
		#{id},
		#{type_name},
		#{type_describe}
		)
	</insert>
	<!-- 修改 -->
	<update id="editS" parameterType="pd">
		UPDATE tb_houses_type
		SET
		type_name       =#{type_name},
		type_describe   =#{type_describe}
		WHERE
		id   = #{id}
	</update>
	<!-- 获取option集合 -->
    <select id="findHousesTypeList"  resultType="pd">
    	select * from tb_houses_type
    </select>
	
</mapper>