<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OutsourceMapper">
	
	<select id="listPageItem" parameterType="pd" resultType="pd">
		select i.item_id,i.item_no,i.item_name,i.contract_type,o.status from tb_item i left join tb_outsource o on i.item_id=o.item_id
		order by i.input_date desc
	</select>
	
	<select id="listPageOutsource" parameterType="page" resultType="pd">
		select * from tb_outsource
	</select>
	
	<select id="findOutsource" parameterType="String" resultType="pd">
		select * from tb_outsource where id=#{id}
	</select>
	
	<update id="updateOutsource" parameterType="pd" >
		update tb_outsource set
		name=#{name}
		where id=#{id}
	</update>
	
	<insert id="saveOutsource" parameterType="pd" >
		insert into tb_outsource(
			id
		)values(
			#{id}
		)
	</insert>

</mapper>