<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleMapper">

    <resultMap type="Role" id="roleResultMap">
        <id column="ROLE_ID" property="ROLE_ID"/>
        <result column="ROLE_NAME" property="ROLE_NAME"/>
        <result column="RIGHTS" property="RIGHTS"/>
    </resultMap>


    <!-- 权限 -->
    <update id="c1" parameterType="pd">
		update sys_user_qx 
		set C1=#{value} 
		where U_ID=#{kefu_id}
	</update>

    <!-- 列出二级角色信息 -->
    <select id="listAllERRoles" resultMap="roleResultMap">
		select 
			ROLE_ID,
			ROLE_NAME,
			RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,
			QX_ID,
			PARENT_ID
		from sys_role 
		where  
		 	PARENT_ID != '7'
	</select>

    <!-- 列出会员二级角色信息 -->
    <select id="listAllappERRoles" resultMap="roleResultMap">
		select 
			ROLE_ID,
			ROLE_NAME,
			RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,
			QX_ID
		from sys_role 
		where 
		 	PARENT_ID = '7'
	</select>

    <!-- 列出此角色下的所有用户 -->
    <select id="listAllUByRid" parameterType="pd" resultType="pd">
		select USER_ID
		from sys_user
		where 
		ROLE_ID = #{ROLE_ID}
	</select>
	
	<!-- 列出此角色下的所有用户 角色字段拼接,模糊查询-->
    <select id="listAllUserByRid" parameterType="pd" resultType="pd">
		select USER_ID
		from sys_user
		where 
		ROLE_ID!='1'
		and
		ROLE_ID like CONCAT(CONCAT('%', #{ROLE_ID}),'%') 
	</select>

    <!-- 列出此角色下的所有会员 -->
    <select id="listAllAppUByRid" parameterType="pd" resultType="pd">
		select USER_ID
		from sys_app_user
		where 
		ROLE_ID = #{ROLE_ID}
	</select>

    <!-- 通过当前登录用的角色id获取管理权限数据 -->
    <select id="findGLbyrid" parameterType="pd" resultType="pd">
		SELECT 
			b.GL_ID,
			b.ROLE_ID,
			b.FX_QX,
			b.FW_QX,
			b.QX1,
			b.QX2,
			b.QX3,
			b.QX4
		from sys_role a, sys_gl_qx b, sys_user c
		where 
			a.QX_ID = b.GL_ID
		and 
			a.ROLE_ID = c.ROLE_ID
		and
			c.ROLE_ID =  '${ROLE_ID}'
		
		limit 0,1
	</select>

    <!-- 通过当前登录用的角色id获取用户权限数据 -->
    <select id="findYHbyrid" parameterType="pd" resultType="pd">
		SELECT 
			b.U_ID,
			b.C1,
			b.C2,
			b.C3,
			b.C4,
			b.Q1,
			b.Q2,
			b.Q3,
			b.Q4
		from sys_role a, sys_user_qx b, sys_user c
		where 
			a.QX_ID = b.U_ID
		and 
			a.ROLE_ID = c.ROLE_ID
		and
			c.ROLE_ID =  '${ROLE_ID}'
		limit 0,1
	</select>

    <!-- 列出K权限表里的数据 -->
    <select id="listAllkefu" parameterType="pd" resultType="pd">
		select 
			GL_ID,
			ROLE_ID,
			FX_QX,
			FW_QX,
			QX1,
			QX2,
			QX3,
			QX4
		from sys_gl_qx
	</select>

    <!-- 列出G权限表里的数据 -->
    <select id="listAllGysQX" parameterType="pd" resultType="pd">
		select 
			U_ID,
			C1,
			C2,
			C3,
			C4,
			Q1,
			Q2,
			Q3,
			Q4
		from sys_user_qx
	</select>

    <!-- 给全部子职位加菜单权限 -->
    <update id="setAllRights" parameterType="pd">
		update sys_role 
		set RIGHTS=#{rights} 
		where PARENT_ID=#{roleId}
	</update>
	
	<!-- 给全部子职位加菜单和增删改查权限 -->
    <update id="setAllQxRights" parameterType="pd">
		update sys_role 
		set
		ADD_QX=#{ADD_QX},
		DEL_QX=#{DEL_QX},
		EDIT_QX=#{EDIT_QX},
		CHA_QX=#{CHA_QX},
		RIGHTS=#{RIGHTS} 
		where PARENT_ID=#{ROLE_ID}
	</update>

    <update id="add_qx" parameterType="pd">
		update sys_role 
		set ADD_QX=#{value} 
		where ROLE_ID=#{ROLE_ID}
	</update>

    <update id="del_qx" parameterType="pd">
		update sys_role 
		set DEL_QX=#{value} 
		where ROLE_ID=#{ROLE_ID}
	</update>

    <update id="edit_qx" parameterType="pd">
		update sys_role 
		set EDIT_QX=#{value} 
		where ROLE_ID=#{ROLE_ID}
	</update>

    <update id="cha_qx" parameterType="pd">
		update sys_role 
		set CHA_QX=#{value} 
		where ROLE_ID=#{ROLE_ID}
	</update>

	<update id="updateQxByMenu" parameterType="pd">
		update sys_role
		set 
		ADD_QX=#{ADD_QX},
		DEL_QX=#{DEL_QX},
		EDIT_QX=#{EDIT_QX},
		CHA_QX=#{CHA_QX},
		RIGHTS=#{RIGHTS}
		where 
		ROLE_ID=#{ROLE_ID}
	</update>
	
    <update id="kfqx1" parameterType="pd">
		update sys_gl_qx 
		set QX1=#{value} 
		where GL_ID=#{kefu_id}
	</update>

    <update id="kfqx2" parameterType="pd">
		update sys_gl_qx 
		set QX2=#{value} 
		where GL_ID=#{kefu_id}
	</update>

    <update id="fxqx" parameterType="pd">
		update sys_gl_qx 
		set FX_QX=#{value} 
		where GL_ID=#{kefu_id}
	</update>

    <update id="fwqx" parameterType="pd">
		update sys_gl_qx 
		set FW_QX=#{value} 
		where GL_ID=#{kefu_id}
	</update>

    <select id="listAllRoles" resultMap="roleResultMap">
		select 
			ROLE_ID,
			ROLE_NAME,
			RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,
			QX_ID
		from sys_role 
		where PARENT_ID = '0'
		ORDER BY ROLE_ID
	</select>

    <select id="listAllRolesByPId" resultMap="roleResultMap">
		select 
			ROLE_ID,
			ROLE_NAME,
			RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,
			QX_ID
		from sys_role  
		where 
			PARENT_ID = #{ROLE_ID}
		ORDER BY ROLE_ID
	</select>


    <select id="getRoleById" parameterType="String" resultMap="roleResultMap">
		select * from sys_role 
		where ROLE_ID=#{roleId}
	</select>


    <update id="updateRoleRights" parameterType="Role">
		update sys_role 
		set RIGHTS=#{RIGHTS} 
		where ROLE_ID=#{ROLE_ID}
	</update>
    <delete id="deleteRoleById" parameterType="String">
		delete from sys_role 
		where ROLE_ID=#{ROLE_ID}
	</delete>

    <!-- 删除K权限表里对应的数据 -->
    <delete id="deleteKeFuById" parameterType="String">
		delete from sys_gl_qx 
		where GL_ID = #{ROLE_ID}
	</delete>

    <!-- 删除G权限表里对应的数据 -->
    <delete id="deleteGById" parameterType="String">
		delete from sys_user_qx 
		where U_ID = #{ROLE_ID}
	</delete>

    <!-- 保存K权限 -->
    <insert id="saveKeFu" parameterType="pd">
		insert into sys_gl_qx (
			GL_ID,
			ROLE_ID,
			FX_QX,
			FW_QX,
			QX1,
			QX2,
			QX3,
			QX4
		) values (
			#{GL_ID},
			#{ROLE_ID},
			#{FX_QX},
			#{FW_QX},
			#{QX1},
			#{QX2},
			#{QX3},
			#{QX4}
		)
	</insert>

    <!-- 保存G权限 -->
    <insert id="saveGYSQX" parameterType="pd">
		insert into sys_user_qx (
			U_ID,
			C1,
			C2,
			C3,
			C4,
			Q1,
			Q2,
			Q3,
			Q4
		) values (
			#{U_ID},
			#{C1},
			#{C2},
			#{C3},
			#{C4},
			#{Q1},
			#{Q2},
			#{Q3},
			#{Q4}
		)
	</insert>

    <!-- 添加 -->
    <insert id="insert" parameterType="pd">
		insert into sys_role (
			ROLE_ID,
			ROLE_NAME,
			RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,
			QX_ID,
			TYPE
		) values (
			#{ROLE_ID},
			#{ROLE_NAME},
			#{RIGHTS},
			#{PARENT_ID},
			#{ADD_QX},
			#{DEL_QX},
			#{EDIT_QX},
			#{CHA_QX},
			#{QX_ID},
			#{TYPE}
		)
	</insert>

    <!-- 通过id查找 -->
    <select id="findObjectById" parameterType="pd" resultType="pd">
		select  
			ROLE_ID,
			ROLE_NAME,
			RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,
			TYPE
		from sys_role
		where ROLE_ID = #{ROLE_ID}
	</select>

    <!-- 编辑角色 -->
    <update id="edit" parameterType="pd">
		update sys_role 
		set ROLE_NAME = #{ROLE_NAME},TYPE = #{TYPE}
		where ROLE_ID = #{ROLE_ID}
	</update>
	
	<!-- 查询所有角色组的子级角色 -->
	<select id="findAllSubRole" resultType="pd">
		select * from sys_role where PARENT_ID!='0'
	</select>
	
	<!-- 根据role_id查询role_name -->
	<select id="findNameById" parameterType="String" resultType="String">
		select ROLE_NAME from sys_role where ROLE_ID=#{ROLE_ID}
	</select>
	
	<!-- 根据角色id集合查询角色类型 -->
	<select id="findRoleTypeByIds" parameterType="list" resultType="String">
		select TYPE from sys_role where ROLE_ID in
		<foreach collection="list"  item="role_id" index="index" open="(" close=")" separator=",">
            #{role_id}
        </foreach>
	</select>
</mapper>