<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TransportationMapper">
    <!-- 查询全部报价信息 -->
    <select id="listPagefindTransportation" parameterType="page" resultType="pd">
        SELECT
        tsp.id,
        tsp.province_id,
        tlp.`name` AS province_name,
        tsp.city_id,
        tld.`name` AS city_name,
        tsp.more_carLoad_time,
        tsp.less_carLoad_time,
        tsp.five_t,
        tsp.eight_t,
        tsp.ten_t,
        tsp.twenty_t,
        tsp.less_carLoad
        FROM tb_transportation tsp LEFT JOIN tb_loc_province tlp ON tsp.province_id=tlp.id
        LEFT JOIN tb_loc_destination tld ON tsp.city_id=tld.id
        WHERE
        1=1
        <if  test="pd.province_name != null and pd.province_name != ''">
            and tlp.`name` LIKE CONCAT('%',#{pd.province_name},'%')
        </if>
        <if  test="pd.city_name != null and pd.city_name != ''">
            and tld.`name` LIKE CONCAT('%',#{pd.city_name},'%')
        </if>
    </select>

    <select id="findTransportationById" parameterType="pd" resultType="pd">
        SELECT
        tsp.id,
        tsp.province_id,
        tlp.`name` AS province_name,
        tsp.city_id,
        tld.`name` AS city_name,
        tsp.more_carLoad_time,
        tsp.less_carLoad_time,
        tsp.five_t,
        tsp.eight_t,
        tsp.ten_t,
        tsp.twenty_t,
        tsp.less_carLoad
        FROM tb_transportation tsp LEFT JOIN tb_loc_province tlp ON tsp.province_id=tlp.id
        LEFT JOIN tb_loc_destination tld ON tsp.city_id=tld.id
        WHERE
        tsp.id=#{id}
    </select>

    <insert id="saveDestination" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `tb_loc_destination`
        (`province_id`, `name`) VALUES (#{province_id},#{name});
    </insert>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `tb_transportation`
        (`province_id`,
         `city_id`,
         `more_carLoad_time`,
         `less_carLoad_time`,
         `five_t`,
         `eight_t`,
         `ten_t`,
         `twenty_t`,
         `less_carLoad`)
        VALUES
            (#{province_id},
             #{city_id},
             #{more_carLoad_time},
             #{less_carLoad_time},
             #{five_t},
             #{eight_t},
             #{ten_t},
             #{twenty_t},
             #{less_carLoad});
    </insert>

    <select id="findProvinceIdByName" parameterType="pd" resultType="String">
        SELECT `id` FROM tb_loc_province WHERE `name`=#{var0}
    </select>

    <select id="findCityIdByName" parameterType="pd" resultType="String">
        SELECT `id` FROM tb_loc_destination WHERE `name`=#{var1} AND province_id=#{province_id}
    </select>

    <select id="countTransportationData" parameterType="pd" resultType="Integer">
        SELECT COUNT(1) FROM tb_transportation WHERE province_id=#{province_id} AND city_id=#{city_id}
    </select>

    <delete id="deleteDestinationByTid" parameterType="pd">
        DELETE a FROM tb_loc_destination a ,tb_transportation b WHERE a.id=b.city_id AND a.province_id=b.province_id AND b.id IN
        <foreach collection="ids"  item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTransportation" parameterType="pd">
        DELETE FROM tb_transportation WHERE id IN
        <foreach collection="ids"  item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateTransportation">
        UPDATE tb_transportation SET
            more_carLoad_time=#{more_carLoad_time},
            less_carLoad_time=#{less_carLoad_time},
            five_t=#{five_t},
            eight_t=#{eight_t},
            ten_t=#{ten_t},
            twenty_t=#{twenty_t},
            less_carLoad=#{less_carLoad}
        WHERE id=#{id}
    </update>

<!--                aaaaaaaaaaaaaaaaaaaaaaaaaaaa                     -->
    <select id="findItemMsg" parameterType="pd" resultType="pd">
        SELECT a.item_name as project_name,b.project_address,c.`name` AS subsidiary_company ,d.`name` AS project_area FROM tb_item a LEFT JOIN (SELECT b.id,CONCAT(IFNULL(c.`name`,''),IFNULL(d.`name`,''),IFNULL(e.`name`,''),IFNULL(b.address_info,'')) project_address
        FROM tb_address b LEFT JOIN tb_loc_province c ON b.province_id=c.id
        LEFT JOIN tb_loc_city d on d.id=b.city_id AND c.id=d.province_id
        LEFT JOIN tb_loc_county e ON e.id=b.county_id AND e.city_id=d.id)b ON a.item_install_address=b.id
        LEFT JOIN tb_department c ON a.item_sub_branch=c.id
        LEFT JOIN tb_department d ON a.item_area=d.id
        where 1=1
        <if  test="item_id != null and item_id != ''">
            and item_id=#{item_id};
        </if>
    </select>

    <insert id="saveMaster">
        INSERT INTO `tb_non_standrad_master` (
        `non_standrad_id`,
        `project_name`,
        `project_address`,
        `project_area`,
        `subsidiary_company`,
        `operate_id`,
        `operate_date`,
        `lift_name`,
        `lift_speed`,
        `traveling_height`,
        `opening_width`,
        `rated_load`,
        `pit_depth`,
        `well_depth`,
        `car_size`,
        `lift_c`,
        `lift_z`,
        `lift_m`,
        `headroom_height`,
        `lift_num`,
        `lift_nos`,
        `lift_angle`,
        `step_width`,
        `instance_status`,
        `instance_id`
        )
        VALUES
        (
        #{non_standrad_id},
        #{project_name},
        #{project_address},
        #{project_area},
        #{subsidiary_company},
        #{operate_id},
        #{operate_date},
        #{lift_name},
        #{lift_speed},
        #{traveling_height},
        #{opening_width},
        #{rated_load},
        #{pit_depth},
        #{well_depth},
        #{car_size},
        #{lift_c},
        #{lift_z},
        #{lift_m},
        #{headroom_height},
        #{lift_num},
        #{lift_nos},
        #{lift_angle},
        #{step_width},
        #{instance_status},
        #{instance_id}
        );
    </insert>



    <select id="findNonStandradMasterById" parameterType="pd" resultType="pd">
        SELECT a.*,u.`NAME` as operate_name
        ,(select SUM(nonstandrad_price) from tb_non_standrad_detail d where d.master_id=a.non_standrad_id) AS nonstand_price
        FROM tb_non_standrad_master a LEFT JOIN sys_user u ON a.operate_id=u.USER_ID
        WHERE a.non_standrad_id =#{non_standrad_id}
    </select>
    <select id="listNonStandradDetailList" parameterType="pd" resultType="pd">
        SELECT * FROM tb_non_standrad_detail WHERE master_id =#{non_standrad_id}
    </select>

    <update id="updateMaster">
        UPDATE
        `tb_non_standrad_master`
        SET
        `project_name`=#{project_name},
        `project_address`=#{project_address},
        `project_area`=#{project_area},
        `subsidiary_company`=#{subsidiary_company},
        `operate_id`=#{operate_id},
        `operate_date`=#{operate_date},
        `lift_name`=#{lift_name},
        `lift_speed`=#{lift_speed},
        `traveling_height`=#{traveling_height},
        `opening_width`=#{opening_width},
        `rated_load`=#{rated_load},
        `pit_depth`=#{pit_depth},
        `well_depth`=#{well_depth},
        `car_size`=#{car_size},
        `lift_c`=#{lift_c},
        `lift_z`=#{lift_z},
        `lift_m`=#{lift_m},
        `headroom_height`=#{headroom_height},
        `lift_num`=#{lift_num},
        `lift_nos`=#{lift_nos},
        `lift_angle`=#{lift_angle},
        `step_width`=#{step_width}
        WHERE non_standrad_id=#{non_standrad_id}

    </update>

    <update id="updateMasterInstance">
        UPDATE
        `tb_non_standrad_master`
        SET
        `instance_status`=#{instance_status}
        WHERE non_standrad_id=#{non_standrad_id}

    </update>

    <delete id="deleteDetail">
        DELETE FROM tb_non_standrad_detail WHERE master_id=#{non_standrad_id}
    </delete>

    <select id="findDetailListForMasterId" parameterType="pd" resultType="pd">
        SELECT * FROM tb_non_standrad_detail WHERE master_id IN
        <foreach collection="ids"  item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="deleteBatchDetail" parameterType="pd" resultType="pd">
        DELETE FROM tb_non_standrad_detail WHERE master_id IN
        <foreach collection="ids"  item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="deleteBatchMaster" parameterType="pd" resultType="pd">
        DELETE FROM tb_non_standrad_master WHERE non_standrad_id IN
        <foreach collection="ids"  item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getParentRoleByUserid" parameterType="java.util.List" resultType="pd">
        SELECT * FROM sys_role sr where sr.ROLE_ID in(
        SELECT PARENT_ID FROM sys_role WHERE ROLE_ID in
        <foreach collection="list"  item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        )
    </select>

</mapper>